body {
    margin: 0px;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    color: rgb(255, 251, 251);
    background-color: rgb(225, 225, 225);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* NAVBAR section */

#navbar {
    background-color: transparent;
    color: #1679dc;
    display: inline-block;
    user-select: none;
}

#logo {
    margin: 1%;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #1679dc;
}

#logo-name {
    margin-left: 3%;
    font-size: 30px;
    font-weight: bold;
}


#user-info{
    float: right;
    display: flex;
    align-items: center;
    margin: 1% 2% 1% 1%;
}

#user-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logout {
    display: inline-block;
    margin-left: 10px;
    background-color: #4294ff !important;
    font-size: small;
    color: white;
}

/* MAIN-FRAME section*/

#main-frame {
    display: flex;
    flex-direction: row;
    flex: 1;
    min-height: 0;  /* di base è ad auto => la dimensione può generare oveflow*/
}

.tab {
    background-color: rgb(110, 181, 157);
    border-radius: 1.5%;
    padding: 0.5% 1% 0.5% 1%;
    margin: 0% 1% 1% 1%;
    display: flex;
    flex-direction: column;
}

/* GENERAL section */

.title{
    display: inline-block;
    user-select: none;
}

.form{
    margin-top: 1%;
    display: flex;
}

.form>input{
    margin: 0.5%;
    padding: 7px;
    flex-shrink: 1;
}

/* CONVERSATIONS section */

#conversations-container{
    user-select: none;
    overflow-y: auto;
}

#conversations-tab {
    width: 34%;
}

#conversation-title{
    text-decoration: underline;
    font-size: x-large;
    font-weight: bold;
    display: flex;
    margin-bottom: 2%;
    align-items: center;
}

#new-group{
    float: right;
    font-size: 14px;
    margin-left: auto;
    background-color: #4294ff;
    color: white;
}

.conversation{
    margin: 1%;
    border-radius: 5px;
    padding: 2%;
    background-color: rgb(167, 203, 91);
    overflow-x: hidden;
    font-size: large;
}

.conversation-username{
    display: inline-block;
    margin-left: 10%;
    font-style: italic;
    font-size: 90%;
}

/* CHAT section */

#chat-tab {
    width: 66%;
}

#chat-container{
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    overflow-y: auto;
}

#chat-name{
    display: inline-block;
    font-weight: bold;
    font-size: x-large;
}
#chat-username{
    margin-left: 5%;
    display: inline-block;
    font-size: medium;
    font-style: italic;
}

.message{
    overflow-wrap: break-word;
    max-width: 66%;
    margin: 1%;
    border-radius: 5px;
    padding: 1%;
    background-color: rgb(167, 203, 91);
    display: flex;
    margin: 0.5% auto 0.5% 0.5%;
}

.text-content::selection{
    background: rgb(149, 181, 75);
}

.message-from-me{
    margin: 0.5% 2% 0.5% auto;
}

.sender{
    user-select: none;
    font-style: italic;
    font-weight: bold;
}


/* HOVER section */
#logout:hover{
    background-color: #3b7acc;
}

.conversation:hover{
    cursor: pointer;
    background-color: rgb(153, 181, 92);
}

#logo:hover{
    cursor: pointer;
    color: #1660aa;
}