body {
    margin: 0px;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    color: rgb(255, 251, 251);
    background-color: rgb(225, 225, 225);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#navbar {
    background-color: transparent;
    color: #1679dc;
}

#logo-name {
    font-size: 30px;
    font-weight: bold;
}

.tab {
    background-color: rgb(110, 181, 157);
}